{% extends "dashboard/base.html" %}
{% load i18n %}

{% block extrajs %}

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.1', {'packages':['bar', 'corechart', 'geochart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the mentors table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('number', 'Mentees');
        data.addRows([
        {% for mentor in mentors %}
          ['{{ mentor.full_name }}', {{ mentor.mentees.count }}],
        {% endfor %}
        ]);

        // Set chart options
        var options = {
            chart: {
                subtitle: 'Mentees per mentor',
            },
        };
        
        var stats_data = google.visualization.arrayToDataTable([
          ['Date', 'Total', 'Inactive', 'Casual', 'Active', 'Active + Casual'],
          {% for s in stats %}
            ['{{ s.date }}', {{ s.reps }}, {{ s.inactive }}, {{ s.casual }}, {{ s.active }}, {{ s.active|add:s.casual }}],
          {% endfor %}
        ]);

        var stats_options = {
          title: 'Reps activity stats'
        };
        
        var countries_data = google.visualization.arrayToDataTable([
          ['Country', 'Reps'],
          {% for c in countries %}
            ['{{ c.country }}', {{c.id__count}}],
          {% endfor %}
        ]);

        var countries_options = {
          colorAxis: {colors: ['#2983C8']},  
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.charts.Bar(document.getElementById('chart_div'));
        var stats = new google.visualization.LineChart(document.getElementById('chart_stats'));
        var countries = new google.visualization.GeoChart(document.getElementById('chart_countries'));
        
        chart.draw(data, options);
        stats.draw(stats_data, stats_options);
        countries.draw(countries_data, countries_options);
      }
    </script>

{% endblock %}

{% block content %}
          
<main role="main" class="events-main">
  <div class="row">
    <div class="large-12 columns align-left">
    <h1 id="title">Reps Dashboard</h1>
    
    <div id="dashboard-continuous-reports-mentees-block" class="large-12 columns">
        <p class="align-right">Data updated: {{ updated }}</p>
    
        <ul>
            <li><a href="#mentors">Mentors</a></li>
            <li><a href="#orphans">Orphans</a></li>
            <li><a href="#selfmentors">Self mentors</a></li>
            <li><a href="#mentees">Mentees</a></li>
            <li><a href="#countries">Countries</a></li>
        </ul>
    </div>
    
    <div id="dashboard-continuous-reports-mentees-block" class="large-12 columns">
        
        <h2 id="mentors">Mentors ({{ mentors.count }})</h2>

        <p>Total mentees: {{ total }}</p>
        <p>Mentees average: {{ average }}</p>
        
        <div id="chart_div" style="width: 100%; height: 500px;"></div>
    
        <table class="dashboard-table responsive on">
          <thead>
            <tr>
              <th class="dashboard-clickable type-string">Full Name</th>
              <th class="dashboard-clickable type-int">Mentees</th>
              <th class="dashboard-clickable type-string">Status</th>
            </tr>
          </thead>
          <tbody id="table-search-list">
            {% for mentor in mentors %}
            <tr>
                <td><a href="{{ mentor.profile_url }}">{{ mentor.full_name }}</a></td>
                <td {% if mentor.mentees.count > average %}class="inactive-low"{% endif %}><a href="#{{ mentor.full_name|slugify }}">{{ mentor.mentees.count }}</a></td>
                <td><span title="{{ mentor.last_report_date }}" {% if mentor.status == "Inactive" %}style="color: red"{% endif %}>{{ mentor.status }}</span></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div id="dashboard-br-my-block" class="large-12 columns">
        
        <h2 id="orphans">Orphans ({{ orphans|length }})</h2>
        
        <table class="dashboard-table responsive on">
          <thead>
            <tr>
              <th class="dashboard-clickable type-string">Full Name</th>
              <th class="dashboard-clickable type-int">Mentor</th>
              <th class="dashboard-clickable type-string">Status</th>
            </tr>
          </thead>
          <tbody id="table-search-list">
            {% for orphan in orphans %}
            <tr>
                <td><a href="{{ orphan.profile_url }}">{{ orphan.full_name }}</a></td>
                <td>{{ orphan.mentor }}</td>
                <td><span title="{{ orphan.last_report_date }}" {% if orphan.status == "Inactive" %}style="color: red"{% endif %}>{{ orphan.status }}</span></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div id="dashboard-br-my-block" class="large-12 columns">
        
        <h2 id="selfmentors">Self mentors ({{ selfmentor|length }})</h2>
        
        <table class="dashboard-table responsive on">
          <thead>
            <tr>
              <th class="dashboard-clickable type-string">Full Name</th>
              <th class="dashboard-clickable type-string">Status</th>
            </tr>
          </thead>
          <tbody id="table-search-list">
            {% for rep in selfmentor %}
            <tr>
                <td><a href="{{ rep.profile_url }}">{{ rep.full_name }}</a></td>
                 <td><span title="{{ orphan.last_report_date }}" {% if orphan.status == "Inactive" %}style="color: red"{% endif %}>{{ rep.status }}</span></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
   
    
    <div id="dashboard-br-my-block" class="large-12 columns">
        
        <h2 id="mentees">Mentees</h2>
        
          {% for s in stats %}
            {% if forloop.last %}
              <p>Total Reps: {{ s.reps }}</p>
              <p><abbr title="At least 1 report in the last 4 weeks">Active</abbr>: {{ s.active }} ({% widthratio s.active s.reps 100 %} %)</p>
              <p><abbr title="At least 1 report in the last 8 weeks">Casual</abbr>: {{ s.casual }} ({% widthratio s.casual s.reps 100 %} %)</p>
              <p><abbr title="At least 1 report in the last 4 weeks">Active</abbr> + <abbr title="At least 1 report in the last 8 weeks">Casual</abbr>: {{ s.active|add:s.casual }} ({% widthratio s.active|add:s.casual s.reps 100 %} %)</p>
              <p><abbr title="No reports in the last 8 weeks">Inactive</abbr>: {{ s.inactive }} ({% widthratio s.inactive s.reps 100 %} %)</p>
            {% endif %}
          {% endfor %}
        
        <div id="chart_stats" style="width: 100%; height: 500px;"></div>
         
        {% for mentor in mentors %}
        
        <h3 class="left" id="{{ mentor.full_name|slugify }}"><img src="{{ mentor.avatar_url }}" alt="{{ mentor.full_name }}" /> <a href="{{ mentor.profile_url }}">{{ mentor.full_name }}</a> ({{ mentor.mentees.count }})</h3>
      
        <p class="right small"><abbr title="At least 1 report in the last 4 weeks">Active</abbr>: {{ mentor.mentees_stats.active }} ({% widthratio mentor.mentees_stats.active mentor.mentees.count 100 %} %)<br />
        <abbr title="At least 1 report in the last 8 weeks">Casual</abbr>: {{ mentor.mentees_stats.casual }} ({% widthratio mentor.mentees_stats.casual mentor.mentees.count 100 %} %)<br />
        <abbr title="No reports in the last 8 weeks">Inactive</abbr>: {{ mentor.mentees_stats.inactive }} ({% widthratio mentor.mentees_stats.inactive mentor.mentees.count 100 %} %)</p>
        </p>
        
        <table class="dashboard-table responsive on">
          <thead>
            <tr>
              <th class="dashboard-clickable type-string">Full Name</th>
              <th class="dashboard-clickable type-string">Country</th>
              <th class="dashboard-clickable type-string">Status</th>
            </tr>
          </thead>
          <tbody id="table-search-list">
            {% for rep in mentor.mentees %}
            <tr>
                <td><a href="{{ rep.profile_url }}">{{ rep.full_name }}</a></td>
                <td>{{ rep.country }}</td>
                <td><span title="{{ rep.last_report_date }}" {% if rep.status == "Inactive" %}style="color: red"{% endif %}>{{ rep.status }}</a></span></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        
        {% endfor %}
    </div>
    
    <div id="dashboard-br-my-block" class="large-12 columns">
      <h2 id="countries">Countries</h2>
      
      <div id="chart_countries" style="width: 900px; height: 500px;"></div>

      <table class="dashboard-table responsive on">
          <thead>
            <tr>
              <th class="dashboard-clickable type-string">Country</th>
              <th class="dashboard-clickable type-int">Reps</th>
              <th class="dashboard-clickable type-int">Percentage</th>
            </tr>
          </thead>
          <tbody id="table-search-list">
            {% for c in countries %}
            <tr>
                <td><a href="https://reps.mozilla.org/people/#/country/{{ c.country|urlencode }}/">{{ c.country }}</a></td>
                <td>{{ c.id__count }}</td>
                <td>{% widthratio c.id__count total 100 %} %</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      
    </div>
    
    </div>
  </div>
</main>

<p style="right: 30px; bottom: 30px; position: fixed;"><a href="#title">↑ Back to the top</a></p>

{% endblock %}