{% extends "dashboard/base.html" %}
{% load i18n %}

{% block extracss %}
  .progress-bar{
          background-color:#e5eaed;
          border:1px solid #dbe0e3;
          -webkit-border-radius:12px;
          -moz-border-radius:12px;
          border-radius:12px;
          -webkit-background-clip:padding-box;
          -moz-background-clip:padding;
          background-clip:padding-box;
          color:#fff;
          font-size:20px;
          font-weight:700;
          height:24px;
          line-height:24px;
          position:relative;
          text-align:right;
          z-index:1;
          margin: 1em 0;
  }
  
  .progress-bar:after{
          border-bottom:1px solid #f9f9f9;
          -webkit-border-radius:13px;
          -moz-border-radius:13px;
          border-radius:13px;
          -webkit-background-clip:padding-box;
          -moz-background-clip:padding;
          background-clip:padding-box;
          bottom:-2px;
          content:'';
          left:0;
          position:absolute;
          right:0;
          top:0;
          z-index:-1
  }
  
  .progress-bar:before{
          border:2px solid rgba(0,0,0,.01);
          -webkit-border-radius:12px;
          -moz-border-radius:12px;
          border-radius:12px;
          -webkit-background-clip:padding-box;
          -moz-background-clip:padding;
          background-clip:padding-box;
          bottom:0;
          content:'';
          left:0;
          position:absolute;
          right:0;
          top:0;
          z-index:-1
  }
  
  .progress-bar>div{
          background-color:#ff9500;
          background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ff9500),color-stop(100% #ed7000));
          background-image:-webkit-linear-gradient(top,#ff9500 0,#ed7000 100%);
          background-image:-moz-linear-gradient(top,#ff9500 0,#ed7000 100%);
          background-image:-ms-linear-gradient(top,#ff9500 0,#ed7000 100%);
          background-image:-o-linear-gradient(top,#ff9500 0,#ed7000 100%);
          background-image:linear-gradient(top,#ff9500 0,#ed7000 100%);
          -webkit-border-radius:12px;
          -moz-border-radius:12px;
          border-radius:12px;
          -webkit-background-clip:padding-box;
          -moz-background-clip:padding;
          background-clip:padding-box;
          height:24px;
          position:relative;
          z-index:5
  }
  
  .progress-bar>div.complete{
          background-color:#6FBE4A;
          background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#6FBE4A),color-stop(100% #68A74B));
          background-image:-webkit-linear-gradient(top,#6FBE4A 0,#68A74B 100%);
          background-image:-moz-linear-gradient(center top , #6FBE4A 0px, #68A74B 100%);
          background-image:-ms-linear-gradient(top,#6FBE4A 0,#68A74B 100%);
          background-image:-o-linear-gradient(top,#6FBE4A 0,#68A74B 100%);
          background-image:linear-gradient(top,#6FBE4A 0,#68A74B 100%);
  }
  
  .progress-bar>div>span{
          margin-right:10px
  }
  
  .rgba .progress-bar{
          border-color:rgba(0,0,0,.03)
  }
{% endblock %}

{% block content %}
          
<main role="main" class="events-main">
  <div class="row">
    <div class="large-12 columns align-left">
    <h1 id="title">The metrics challenge</h1>
    
    <div style="float: right">Total events: <strong>{{ events|length }}</strong></div>
    <h2><strong>{{ need_metrics|length }}</strong> events need post-event metrics.</h2>
    
    <p>Events between Jan. 1, 2014 and {{ end_date|date }}.</p>
    
    <div class="progress-bar">
      <div style="width: {{ pending }}%;"{% if pending == 100 %} class="complete"{% endif %}>
        <span>{{ pending }} %</span>
      </div>
    </div>
    
    <div class="large-12 columns">
        
        <table class="dashboard-table responsive on">
          <thead>
            <tr>
              <th></th>
              <th class="dashboard-clickable type-string">Owner</th>
              <th class="dashboard-clickable type-string">Budget</th>
              <th class="dashboard-clickable type-string">Event</th>
              <th class="dashboard-clickable type-string">Date</th>
              <th class="dashboard-clickable type-string">Country</th>
            </tr>
          </thead>
          <tbody id="table-search-list">
            {% for e in need_metrics %}
            <tr>
              <td><a href="{{ e.owner.profile_url }}"><img src="{{ e.owner.avatar_url }}" alt="{{ e.owner }}" style="max-height: 80px; border-radius: 40px;"/></a></td>
              <td><a href="{{ e.owner.profile_url }}">{{ e.owner }}</a></td>
              <td>{% if e.budget_bug_id %}<a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ e.budget_bug_id }}">{{ e.budget_bug_id }}</a>{% else %}No{% endif %}</td>
              <td><a href="{{ e.url }}">{{ e.name }}</a></td>
              <td>{{ e.start|date }}</td>
              <td>{{ e.country }}</td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
        
    </div>
    
  </div>
  </div>
</main>

<p style="right: 30px; bottom: 30px; position: fixed;"><a href="#title">↑ Back to the top</a></p>

{% endblock %}